## Importando dados para o banco a partir de um arquivo CSV e consultando os dados na base de dados

In [1]:
import psycopg2
import pandas as pd
from sqlalchemy import create_engine

In [4]:
import os
os.path

In [5]:
arquivo = "../../datascience/data_science/Aluno_professor_disciplina_turno_nota_faltas_situacao_local.csv"
# Nome da Tabela que será criada no banco de dados
nome_tabela='tabela_alunos'

In [6]:
data_alunos = pd.read_csv(arquivo, sep=',',encoding='latin-1')

In [7]:
data_alunos.head(3)

,Professor,Disciplina,Turno,Aluno,Nota,Faltas,SituaÃ§Ã£o,Local,CEP
0,professor1,Disciplina1,Matutino,Aluno1,10,16.0,Reprovado,Serra-ES,29165-131
1,professor2,Disciplina2,Noturno,Aluno2,5,10.0,Reprovado,Serra-ES,29165-130
2,professor3,Disciplina3,Vespertino,Aluno3,7,1.0,Aprovado,Serra-ES,29166-200

In [9]:
engine = create_engine('postgresql://postgres:123456@localhost:5432/universidade')
data_alunos.to_sql(nome_tabela, engine)

## Realizando consulta na tabela criada no banco de dados

In [14]:
sql = 'Select * from '+nome_tabela
dados_banco = pd.read_sql_query(sql,engine)
dados_banco.head(5)

,index,Professor,Disciplina,Turno,Aluno,Nota,Faltas,SituaÃ§Ã£o,Local,CEP
0,0,professor1,Disciplina1,Matutino,Aluno1,10,16.0,Reprovado,Serra-ES,29165-131
1,1,professor2,Disciplina2,Noturno,Aluno2,5,10.0,Reprovado,Serra-ES,29165-130
2,2,professor3,Disciplina3,Vespertino,Aluno3,7,1.0,Aprovado,Serra-ES,29166-200
3,3,professor4,Disciplina4,Matutino,Aluno4,8,2.0,Aprovado,VitÃ³ria-ES,29060-100
4,4,professor5,Disciplina5,Matutino,Aluno5,9,5.0,Aprovado,VitÃ³ria-ES,29060-902