# Tabela para análise

## O sql abaixo foi aplicado ao banco de dados postgres

create table naivebayes;


create table vendas_lojaxyz (
	id int primary key,
	sexo char(1),
	idade integer,
	filhos varchar(4),
	gasta_muito varchar(4)
);

insert into vendas_lojaxyz values (1,'F',41,'NÃO','NÃO');
insert into vendas_lojaxyz values (2,'F',25,'SIM','SIM');
insert into vendas_lojaxyz values (3,'F',41,'NÃO','SIM');
insert into vendas_lojaxyz values (4,'M',25,'NÃO','SIM');
insert into vendas_lojaxyz values (5,'F',41,'SIM','SIM');
insert into vendas_lojaxyz values (6,'M',25,'SIM','NÃO');
insert into vendas_lojaxyz values (7,'F',41,'NÃO','NÃO');
insert into vendas_lojaxyz values (8,'F',41,'NÃO','SIM');
insert into vendas_lojaxyz values (9,'M',41,'SIM','NÃO');
insert into vendas_lojaxyz values (10,'M',25,'NÃO','SIM');
insert into vendas_lojaxyz values (11,'F',41,'SIM','NÃO');
insert into vendas_lojaxyz values (12,'F',25,'SIM','NÃO');
insert into vendas_lojaxyz values (13,'F',25,'SIM','NÃO');
insert into vendas_lojaxyz values (14,'F',25,'NÃO','SIM');
insert into vendas_lojaxyz values (15,'F',25,'NÃO','SIM');

Select * from vendas_lojaxyz

### Atributos preditivos X atributo de Classe


Atributos preditivos (x):
1. Sexo
2. Idade
3. Filhos

Atributo Classe (y):
1. Gasta_Muito

Neste tipo de abordagem, o algoritmo classificador aprenderá como uma base de dados previamente existente. Com base neste aprendizado poderá classificar novos dados

Qual a probabilidae de um cliente gastar 1000 ou mais para realizar uma compra.

1. Condição A: Gasta_Muito = 'Sim'

Temos:
    * P(A) = (total de sim)/ (total da amostra)
    * P(A) (8)/(15) =53,33

Examinar somente os clientes com idade superior a 40 anos:
    1. Condição A (gasta Muito = Sim)
    2. Condição B (Idade>=40)

### Selecionando dados do banco postgres na tabela criada vendas_lojaxyz

Reference: http://docs.sqlalchemy.org/en/latest/core/engines.html#postgresql

In [49]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres:123456@localhost:5432/naivebayes')
import pandas as pd
dados=pd.read_sql_query('select * from vendas_lojaxyz',con=engine)

In [50]:
dados.head()

   id sexo  idade filhos gasta_muito
0   1    F     41    NÃO         NÃO
1   2    F     25    SIM         SIM
2   3    F     41    NÃO         SIM
3   4    M     25    NÃO         SIM
4   5    F     41    SIM         SIM

### Definindo atributos preditios e atributo de classe

In [51]:
atributos_preditivos_x=dados[['sexo','idade','filhos']]
atributos_classe_y=dados['gasta_muito']

In [52]:
atributos_classe_y

0     NÃO
1     SIM
2     SIM
3     SIM
4     SIM
5     NÃO
6     NÃO
7     SIM
8     NÃO
9     SIM
10    NÃO
11    NÃO
12    NÃO
13    SIM
14    SIM
Name: gasta_muito, dtype: object

In [53]:
atributos_preditivos_x

   sexo  idade filhos
0     F     41    NÃO
1     F     25    SIM
2     F     41    NÃO
3     M     25    NÃO
4     F     41    SIM
5     M     25    SIM
6     F     41    NÃO
7     F     41    NÃO
8     M     41    SIM
9     M     25    NÃO
10    F     41    SIM
11    F     25    SIM
12    F     25    SIM
13    F     25    NÃO
14    F     25    NÃO

### Substitundo valores no subdataframe atributos_preditivos_x

reference: http://stackoverflow.com/questions/27117773/pandas-replace-values

In [61]:
filhos = dados[['filhos']].copy()
sexo = dados[['sexo']].copy()
filhos.loc[filhos['filhos'] != 'SIM'] = '0'
filhos.loc[filhos['filhos'] == 'SIM'] = '1'
sexo.loc[sexo['sexo'] == 'F'] = '0'
sexo.loc[sexo['sexo'] == 'M'] = '1'
novos_atributos_preditivos_x=atributos_preditivos_x.copy()

In [64]:
novos_atributos_preditivos_x['filhos']=filhos
novos_atributos_preditivos_x['sexo']=sexo
novos_atributos_preditivos_x

   sexo  idade filhos
0     0     41      0
1     0     25      1
2     0     41      0
3     1     25      0
4     0     41      1
5     1     25      1
6     0     41      0
7     0     41      0
8     1     41      1
9     1     25      0
10    0     41      1
11    0     25      1
12    0     25      1
13    0     25      0
14    0     25      0

In [65]:
novos_atributos_preditivos_x.describe()

           idade
count  15.000000
mean   32.466667
std     8.262364
min    25.000000
25%    25.000000
50%    25.000000
75%    41.000000
max    41.000000

1. P (A|B) =  probabilidade de um cliente gastar muito, dado que ele tem 40 ou mais anos.
2. P (A|B) = (filtrar B, Filtrar A)
3. P (A|B) = (Idade>=40 --> 7 pessoas), (Gastam muito entre os 7 anteriores = 3)
4. P(A|B) ==> 3/7 ==> 42,86%

In [66]:
from sklearn.naive_bayes import GaussianNB
clf = GaussianNB()
clf.fit(novos_atributos_preditivos_x,atributos_classe_y)

GaussianNB(priors=None)

In [41]:
clf.class_prior_

array([ 0.46666667,  0.53333333])

In [45]:
test_features=novos_atributos_preditivos_x.head(10)
test_label = atributos_classe_y.head(10)

In [46]:
print(test_label)
print(test_features)

0    NÃO
1    SIM
2    SIM
3    SIM
4    SIM
5    NÃO
6    NÃO
7    SIM
8    NÃO
9    SIM
Name: gasta_muito, dtype: object
  sexo  idade filhos
0    0     41      0
1    0     25      1
2    0     41      0
3    1     25      0
4    0     41      1
5    1     25      1
6    0     41      0
7    0     41      0
8    1     41      1
9    1     25      0

In [47]:
pred = clf.predict(test_features)
print(pred)

[u'SIM' u'N\xc3O' u'SIM' u'SIM' u'N\xc3O' u'N\xc3O' u'SIM' u'SIM' u'N\xc3O'
 u'SIM']

In [69]:
accuracy = clf.score(test_features,test_label)
accuracy

0.59999999999999998

## Naive bayes com dados de mulheres indianas

Informações sobre os atributos (For Each Attribute: (all numeric-valued))

5. Number of Instances: 768

6. Number of Attributes: 8 plus class 

7. For Each Attribute: (all numeric-valued)
   1. Number of times pregnant
   2. Plasma glucose concentration a 2 hours in an oral glucose tolerance test
   3. Diastolic blood pressure (mm Hg)
   4. Triceps skin fold thickness (mm)
   5. 2-Hour serum insulin (mu U/ml)
   6. Body mass index (weight in kg/(height in m)^2)
   7. Diabetes pedigree function
   8. Age (years)
   9. Class variable (0 or 1)

8. Missing Attribute Values: Yes

9. Class Distribution: (class value 1 is interpreted as "tested positive for
   diabetes")

   Class Value  Number of instances
   0            500
   1            268

10. Brief statistical analysis:

    Attribute number:    Mean:   Standard Deviation:
    1.                     3.8     3.4
    2.                   120.9    32.0
    3.                    69.1    19.4
    4.                    20.5    16.0
    5.                    79.8   115.2
    6.                    32.0     7.9
    7.                     0.5     0.3
    8.                    33.2    11.8

In [106]:
import pandas as pd
#   1. Number of times pregnant
#   2. Plasma glucose concentration a 2 hours in an oral glucose tolerance test
#   3. Diastolic blood pressure (mm Hg)
#   4. Triceps skin fold thickness (mm)
#   5. 2-Hour serum insulin (mu U/ml)
#   6. Body mass index (weight in kg/(height in m)^2)
#   7. Diabetes pedigree function
#   8. Age (years)
#   9. Class variable (0 or 1)

cabecalho=['gravidez', 'plasma', 'pres_sangue', 'tric_skin', 'insulin','bory_mass','diabetes','age','class_var']
dados=pd.read_csv('dados/pima_indians_diabetes.csv',sep=',')

dados_com_colunas = pd.DataFrame(dados.values,columns=cabecalho)
print(dados.head(3))
print(dados_com_colunas.head(3))

   6  148  72  35   0  33.6  0.627  50  1
0  1   85  66  29   0  26.6  0.351  31  0
1  8  183  64   0   0  23.3  0.672  32  1
2  1   89  66  23  94  28.1  0.167  21  0
   gravidez  plasma  pres_sangue  tric_skin  insulin  bory_mass  diabetes  \
0       1.0    85.0         66.0       29.0      0.0       26.6     0.351
1       8.0   183.0         64.0        0.0      0.0       23.3     0.672
2       1.0    89.0         66.0       23.0     94.0       28.1     0.167

    age  class_var
0  31.0        0.0
1  32.0        1.0
2  21.0        0.0

references: 
    1. http://machinelearningmastery.com/naive-bayes-classifier-scratch-python/

In [108]:
atributos_preditivos_x=dados_com_colunas[['gravidez', 'plasma', 'pres_sangue', 'tric_skin', 'insulin','bory_mass','diabetes','age']]
atributos_classe_y=dados_com_colunas['class_var']

In [109]:
from sklearn.naive_bayes import GaussianNB
clf = GaussianNB()
clf.fit(atributos_preditivos_x,atributos_classe_y)
clf.class_prior_
test_features=atributos_preditivos_x.head(10)
test_label = atributos_classe_y.head(10)
print(test_label)
print(test_features)
pred = clf.predict(test_features)
print(pred)
accuracy = clf.score(test_features,test_label)
accuracy

0    0.0
1    1.0
2    0.0
3    1.0
4    0.0
5    1.0
6    0.0
7    1.0
8    1.0
9    0.0
Name: class_var, dtype: float64
   gravidez  plasma  pres_sangue  tric_skin  insulin  bory_mass  diabetes  \
0       1.0    85.0         66.0       29.0      0.0       26.6     0.351
1       8.0   183.0         64.0        0.0      0.0       23.3     0.672
2       1.0    89.0         66.0       23.0     94.0       28.1     0.167
3       0.0   137.0         40.0       35.0    168.0       43.1     2.288
4       5.0   116.0         74.0        0.0      0.0       25.6     0.201
5       3.0    78.0         50.0       32.0     88.0       31.0     0.248
6      10.0   115.0          0.0        0.0      0.0       35.3     0.134
7       2.0   197.0         70.0       45.0    543.0       30.5     0.158
8       8.0   125.0         96.0        0.0      0.0        0.0     0.232
9       4.0   110.0         92.0        0.0      0.0       37.6     0.191

    age
0  31.0
1  32.0
2  21.0
3  33.0
4  30.0
5  26.0
6  29.0
7  53.0
8  54.0
9  30.0
[ 0.  1.  0.  1.  0.  0.  1.  1.  0.  0.]

0.69999999999999996

Reference: 
1. http://www.devmedia.com.br/naive-bayes-mineracao-de-dados-na-pratica-revista-sql-magazine-110/27490
2. https://www.analyticsvidhya.com/blog/2015/09/naive-bayes-explained/