## Tradução da Base de dados:  Student Alcohol Comumption

In [1]:
#Packages
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import LinearRegression, Lasso
from sklearn.linear_model import Ridge
from sklearn.model_selection import cross_val_score
import scipy
import matplotlib.pyplot as plt

In [2]:
dados_math=pd.read_csv("files/student-mat.csv")
dados_port=pd.read_csv("files/student-por.csv")
dados = [dados_math,dados_port]

In [3]:
dados = pd.concat(dados)

In [4]:
dados.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [5]:
dados['sex'].count()

1044

In [6]:
dados_agrupados=dados.groupby(['sex','guardian']).mean()
dados_agrupados

                    age      Medu      Fedu  traveltime  studytime  failures  \
sex guardian
F   father    16.523438  2.304688  2.398438    1.546875   2.226562  0.195312
    mother    16.662679  2.576555  2.313397    1.461722   2.100478  0.167464
    other     18.444444  2.288889  2.155556    1.666667   2.333333  0.866667
M   father    16.347826  2.747826  2.773913    1.565217   1.721739  0.191304
    mother    16.654839  2.809677  2.409677    1.535484   1.767742  0.303226
    other     18.178571  2.000000  2.000000    1.785714   1.535714  0.928571

                famrel  freetime     goout      Dalc      Walc    health  \
sex guardian
F   father    3.882812  3.117188  2.867188  1.406250  2.046875  3.570312
    mother    3.911483  3.014354  3.162679  1.203349  1.923445  3.313397
    other     3.511111  3.022222  3.088889  1.555556  1.844444  3.288889
M   father    4.026087  3.165217  3.191304  1.713043  2.617391  3.573913
    mother    3.974194  3.458065  3.248387  1.777419  2.767742  3.845161
    other     4.428571  3.964286  3.321429  2.107143  2.750000  3.785714

              absences         G1         G2         G3
sex guardian
F   father    3.031250  11.703125  11.781250  11.921875
    mother    4.650718  11.260766  11.346890  11.507177
    other     7.355556  10.244444   9.733333   9.555556
M   father    3.556522  11.347826  11.417391  11.330435
    mother    4.261290  11.116129  11.090323  11.177419
    other     8.464286  10.357143  10.750000  10.964286

In [7]:
dados_agrupados=dados.groupby(['sex','guardian'])['guardian'].count()
dados_agrupados

sex  guardian
F    father      128
     mother      418
     other        45
M    father      115
     mother      310
     other        28
Name: guardian, dtype: int64

In [8]:
novos_dados=dados
novos_dados['school']=dados['school'].replace({'GP': 'Escola1','MS': 'Escola2'}, regex=True)
novos_dados['Mjob']=dados['Mjob'].replace({'at_home': 'em_casa','teacher': 'professor','health': 'saude','other': 'outro','services': 'servicos'}, regex=True)
novos_dados['Fjob']=dados['Fjob'].replace({'at_home': 'em_casa','teacher': 'professor','health': 'saude','other': 'outro','services': 'servicos'}, regex=True)
novos_dados['reason']=novos_dados['reason'].replace({'course': 'curso preferido','home': 'proximidade','reputation': 'reputacao','other': 'outro'}, regex=True)
novos_dados['guardian']=novos_dados['guardian'].replace({'mother': 'mae','father': 'pai'}, regex=True)
novos_dados['guardian']=novos_dados['guardian'].replace({'other': 'outro'}, regex=True)

In [9]:
novos_dados.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,Escola1,F,18,U,GT3,A,4,4,em_casa,professor,...,4,3,4,1,1,3,6,5,6,6
1,Escola1,F,17,U,GT3,T,1,1,em_casa,outro,...,5,3,3,1,1,3,4,5,5,6
2,Escola1,F,15,U,LE3,T,1,1,em_casa,outro,...,4,3,2,2,3,3,10,7,8,10
3,Escola1,F,15,U,GT3,T,4,2,saude,servicos,...,3,2,2,1,1,5,2,15,14,15
4,Escola1,F,16,U,GT3,T,3,3,outro,outro,...,4,3,2,1,2,5,4,6,10,10

In [10]:
pd.pivot_table(novos_dados,values='age',index=['sex'],columns=['guardian'])

guardian        mae      outro        pai
sex
F         16.662679  18.444444  16.523438
M         16.654839  18.178571  16.347826

    Attribute Information:

    # Attributes for both student-mat.csv (Math course) and student-por.csv (Portuguese language course) datasets:
    1 Escola - variavel binária com duas escolas (binary: 'GP' - Gabriel Pereira or 'MS' - Mousinho da Silveira)
    2 sexo - (binary: 'F' - female or 'M' - male)
    3 idade - Idade entre 15 e 22 anos
    4 endereco - urbano ou rural
    5 tamfamilia - tamanho da familia, variavel binaria onde 'LE3' - menor ou igua a 3 e 'GT3' - maior que 3 pessoas
    6 paisjuntos - (binary: 'T' - vivem juntos or 'A' - separados)
    7 EducacaoMae - Educacao da mae (numeric: 0 - nenhuma, 1 - educacao primaria, 2  até 9 ano, 3 educacao secundaria 4 graduacao)
    8 EducacaoPai - (numeric: 0 - nenhuma, 1 - educacao primaria, 2  até 9 ano, 3 educacao secundaria 4 graduacao)
    
    9 TrabMae - Trabalho da Mae (nominal: 'professor', 'saude' 'servicos' (ex: administrativo ou polícia), 'em_casa' or 'outro')
    10 TrabPai - Trabalho da Mae (nominal: 'professor', 'saude' 'servicos' (ex: administrativo ou polícia), 'em_casa' or 'outro')
    
    11 razoes - razoes para escolher a escola (nominal:  'proximidade', school 'reputacao', 'curso preferido' 'outro')
    
    12 responsavel - responsavel pelo estudante (nominal: 'mae', 'mai' or 'outro')
    13 deslocamento - tempo de deslocamento até a escola (numeric: 1 - <15 min., 2 - 15 to 30 min., 3 - 30 min. to 1 hour, or 4 - >1 hour)
    14 TempoDeEstudo - tempo de estudo semanal (numeric: 1 - <2 hours, 2 - 2 to 5 hours, 3 - 5 to 10 hours, or 4 - >10 hours)
    
    15 reprovacoes - numero de reprovaceos (numeric: n if 1<=n<3, else 4)
    16 ApoioEscolar - Apoio extra classe na escola (binary: yes or no)
    17 ApoioFamiliar - Apoi educacional familiar (binary: yes or no)
    18 AulasParticulares - aulas particulares extra (Math or Portuguese) (binary: yes or no)
    19 AtividadeExtra - atividades extra curriculares: yes or no)
    20 Creche - attended nursery school (binary: yes or no)
    21 Graduacao - Deseja fazer graduação (binary: yes or no)
    22 internet - Tem acesso a internet em casa (binary: yes or no)
    23 namoro - possui relacionamento (binary: yes or no)
    24 relacionamentoFamiliar - quality of family relationships (numeric: from 1 - very bad to 5 - excellent)
    25 TempoLivre - free time after school (numeric: from 1 - very low to 5 - very high)
    26 PasseiosComAmigos - Sai com os amigos (numeric: from 1 - very low to 5 - very high)
    27 ConsumoT - Consumo de alcool nos dias de trabalho (numeric: from 1 - very low to 5 - very high)
    28 ConsumoFS - ConsumoFinalSemana (numeric: from 1 - very low to 5 - very high)
    29 saude - estado atual de saude (numeric: from 1 - very bad to 5 - very good)
    30 faltas - numero de faltas na escola (numeric: from 0 to 93)

    # these grades are related with the course subject, Math or Portuguese:
    31 G1 - first period grade (numeric: from 0 to 20) - nota1
    31 G2 - second period grade (numeric: from 0 to 20) -  nota2
    32 G3 - final grade (numeric: from 0 to 20, output target)  -  Nota Final

In [11]:
import sqlalchemy
from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres:123456@localhost:5432/school')
conn = engine.connect()

In [12]:
colunas = ['Escola','sexo','idade','endereco','tamfamilia','paisjuntos','EducacaoMae','EducacaoPai','TrabMae','TrabPai','razoes','responsavel',
    'deslocamento','TempoDeEstudo','reprovacoes','ApoioEscolar',
    'ApoioFamiliar','AulasParticulares','AtividadeExtra','Creche',
    'Graduacao','internet','namoro','relacionamentoFamiliar',
    'TempoLivre','PasseiosComAmigos','ConsumoT','ConsumoFS',
    'saude','faltas', 'nota1', 'nota2', 'Nota Final']

In [13]:
dados.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,Escola1,F,18,U,GT3,A,4,4,em_casa,professor,...,4,3,4,1,1,3,6,5,6,6
1,Escola1,F,17,U,GT3,T,1,1,em_casa,outro,...,5,3,3,1,1,3,4,5,5,6
2,Escola1,F,15,U,LE3,T,1,1,em_casa,outro,...,4,3,2,2,3,3,10,7,8,10
3,Escola1,F,15,U,GT3,T,4,2,saude,servicos,...,3,2,2,1,1,5,2,15,14,15
4,Escola1,F,16,U,GT3,T,3,3,outro,outro,...,4,3,2,1,2,5,4,6,10,10

In [14]:
novos_dados.columns=colunas

In [15]:
novos_dados.head()

,Escola,sexo,idade,endereco,tamfamilia,paisjuntos,EducacaoMae,EducacaoPai,TrabMae,TrabPai,...,relacionamentoFamiliar,TempoLivre,PasseiosComAmigos,ConsumoT,ConsumoFS,saude,faltas,nota1,nota2,Nota Final
0,Escola1,F,18,U,GT3,A,4,4,em_casa,professor,...,4,3,4,1,1,3,6,5,6,6
1,Escola1,F,17,U,GT3,T,1,1,em_casa,outro,...,5,3,3,1,1,3,4,5,5,6
2,Escola1,F,15,U,LE3,T,1,1,em_casa,outro,...,4,3,2,2,3,3,10,7,8,10
3,Escola1,F,15,U,GT3,T,4,2,saude,servicos,...,3,2,2,1,1,5,2,15,14,15
4,Escola1,F,16,U,GT3,T,3,3,outro,outro,...,4,3,2,1,2,5,4,6,10,10

In [16]:
#novos_dados.to_sql('dados_iris3', engine)
novos_dados.to_sql('estudantes_consumo_alcool',engine)

In [17]:
novos_dados.to_csv('files/table_school.csv')

References:
1. https://archive.ics.uci.edu/ml/datasets/STUDENT+ALCOHOL+CONSUMPTION