In [1]:
import pandas

ImportError: No module named 'pandas'

In [2]:
!pip install pandas

Collecting pandas
  Using cached pandas-0.19.0-cp35-cp35m-manylinux1_x86_64.whl
Collecting pytz>=2011k (from pandas)
  Using cached pytz-2016.7-py2.py3-none-any.whl
Collecting python-dateutil>=2 (from pandas)
  Using cached python_dateutil-2.5.3-py2.py3-none-any.whl
Collecting numpy>=1.7.0 (from pandas)
  Using cached numpy-1.11.2-cp35-cp35m-manylinux1_x86_64.whl
Requirement already satisfied (use --upgrade to upgrade): six>=1.5 in /media/mso/Dados/BACKUPS_DINAMICOS/mv_permanentes_linux/datascience/lib/python3.5/site-packages (from python-dateutil>=2->pandas)
Installing collected packages: pytz, python-dateutil, numpy, pandas
Successfully installed numpy-1.11.2 pandas-0.19.0 python-dateutil-2.5.3 pytz-2016.7

In [3]:
import pandas as pd

In [5]:
dados_berkley=pd.read_csv('berkley.csv', sep=',')

In [6]:
dados_berkley.describe()

             Freq
count   24.000000
mean   188.583333
std    140.063624
min      8.000000
25%     80.000000
50%    170.000000
75%    302.500000
max    512.000000

In [8]:
dados_berkley.head(4)

      Admit  Gender Dept  Freq
0  Admitted    Male    A   512
1  Rejected    Male    A   313
2  Admitted  Female    A    89
3  Rejected  Female    A    19

In [11]:
dados_berkley.groupby('Gender').sum()

        Freq
Gender
Female  1835
Male    2691